body{
    background-color: #181c1c;
    color: bisque;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about_{
    display: flex;
    flex-wrap: wrap;
}
.about_ hr{
    width: 100%;
}
.about_ img{
    height: 200px;
    width: 200px;
}
.about_ .about_me{
    margin: 20px 0 0 10px;
}
.about_me h6{
    margin: -10% 0 0 47%;

}
.about_web{
    margin: 20px 0 0 50px;
}

/* FOOTER */
.foot_bar{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #44473f;
    color: white;
    text-align: center;
}
.foot_bar p{
    text-align: center;
    padding: 20px;
}
.social_med img:hover{
    opacity: 0.5;
}
.social_med img{

    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;
}

