body{
    background-color: #282828;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.heading{
    text-align: center;

}

/* main content */
.main_content{
    margin-left: 15%;
    background-color: #212121;
    height: auto;
    width: 140vh;
    border: 2px solid rebeccapurple;
    border-radius: 1%;
}
@media (max-width: 800px){
.main_content{
        margin-left: 1%;
        background-color: #212121;
        height: auto;
        width: auto;
        border: 2px solid rebeccapurple;
        border-radius: 1%;
        }    
    }
@media (max-width: 640px){
.main_content{
        margin-left: 17%;
        background-color: #212121;
        height: auto;
        width: 70vh;
        border: 2px solid rebeccapurple;
        border-radius: 1%;
        }    
    }
@media (max-width: 480px){
.main_content{
        margin-left: 1%;
        background-color: rgb(47, 89, 44);
        height: auto;
        width: auto;
        border: 2px solid rebeccapurple;
        border-radius: 1%;
        }    
    }

    /* end 
    
    @media (max-width: 800px)
    @media (max-width: 640px)
    @media (max-width: 480px)
    */
.main_content img{
    margin: 3%;
    height: 100vh;
    width: auto;
}
@media (max-width: 800px){
    .main_content img{
        margin: 1%;
        height: 110vh;
        width: auto;
    }
}
@media (max-width: 640px){
    .main_content img{
        margin: 2.5%;
        height: 50vh;
        width: auto;
    }  
}
@media (max-width: 480px){
    .main_content img{
        margin: 4%;
        height: 60vh;
        width: auto;
    } 
}

/* end */
.main_content{
    padding: 2%;
}
.main_content p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* OSI Def */
.main_content .osi_def{
    background-color: #8c20c3;
    padding: 2%;
    border-radius: 2%;
}
#osi_gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}

/* FOOTER */
.foot_bar{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #44473f;
    color: white;
    text-align: center;
    line-height: -10v;
}
.foot_bar p{
    text-align: center;
    padding: 20px;
}
.social_med img:hover{
    opacity: 0.5;
}
.social_med img{

    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;
}


