@import url('https://fonts.googleapis.com/css?family=Agbalumo');
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* 
@media only screen and (max-width: 600px) 
@media only screen and (min-width: 768px)
@media only screen and (min-width: 992px)
@media only screen and (min-width: 1200px)

*/

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #212021;
}
.nav_bar{
    display: flex; /* 1 */
    justify-content: space-between; /* 2 */
    padding: 1rem 2rem; /* 3 */
    background: #44473f; /* 4 */
    font-family: 'Courier New', Courier, monospace;
    
  }
  
.nav_bar ul {
    display: flex; /* 5 */
    list-style: none; /* 6 */
  }
  
.nav_bar li {
    padding-left: 1rem; /* 7! */
    
  }
.nav_bar li a {
    color: #fff;
}
.nav_bar li a:hover{
    color: #6d6db9;
}
/* TITLE */
@media only screen and (max-width: 406px) {
    .head_1 h1{
        color: #fff;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        margin-left: 30%;
        margin-top: -20%;
    }
    .head_1 h6{
        color: #fff;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 30%;
    }
    .hr_1{
        margin-top: 10%;
    }
    .head_1 img{
        width: 20%;
        height: auto;
        margin: 5%;
    }
}
@media only screen and (min-width: 25.5em){
    .head_1 h1{
        color: #fff;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        margin-left: 15%;
        margin-top: -11%;
    }
    .head_1 h6{
        color: #fff;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 15%;
    }
    .hr_1{
        margin-top: 10%;
    }
    .head_1 img{
        width: 10%;
        height: auto;
        margin: 2%;
    }
}
@media only screen and (min-width: 35.5em){
    .head_1 h1{
        color: #fff;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        margin-left: 15%;
        margin-top: -11%;
    }
    .head_1 h6{
        color: #fff;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 15%;
    }
    .hr_1{
        margin-top: 10%;
    }
    .head_1 img{
        width: 10%;
        height: auto;
        margin: 2%;
    }
}
@media only screen and (min-width: 48em){
    .head_1 h1{
        color: #fff;
        font-family: 'Courier New', Courier, monospace;
        font-size: 26px;
        margin-left: 12%;
        margin-top: -9%;
    }
    .head_1 h6{
        color: #fff;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 12%;
    }
    .hr_1{
        margin-top: 10%;
    }
    .head_1 img{
        width: 8%;
        height: auto;
        margin: 2%;
    }
}
@media only screen and (min-width: 64em){
    .head_1 h1{
        color: #fff;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 12%;
        margin-top: -7%;
    }
    .head_1 h6{
        color: #fff;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 12%;
    }
    .hr_1{
        margin-top: 10%;
    }
    .head_1 img{
        width: 8%;
        height: auto;
        margin: 2%;
    }
}
@media only screen and (min-width: 80em){
    .head_1 h1{
        color: #fff;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 12%;
        margin-top: -7%;
    }
    .head_1 h6{
        color: #fff;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 12%;
    }
    .hr_1{
        margin-top: 10%;
    }
    .head_1 img{
        width: 8%;
        height: auto;
        margin: 2%;
    }
}


/* MAIN */
@media only screen and (max-width: 406px){
    .main_content{   
         border: 2px solid #7ee343;
         padding: 0px;
         margin: 20px 0px 20px 0px;
         display:flex;
         flex-wrap: wrap;
         justify-content: center;
    }
    .box_1 , .box_2 , .box_3 , .box_4 , .box_5 , .box_6{
        width: 250px;
        height: 150px;
        padding: 0px;
        margin: 35px 50px 15px 50px;
        border: 2px solid rgb(61, 77, 220)
    }
    .box_1 ,  .box_2 , .box_3 , .box_4 , .box_5 , .box_6 , h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
  
    }

}
@media only screen and (min-width: 992px){
    .main_content{
        border: 2px solid #7ee343;
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        margin: 30px;
        justify-content: center;
    }
}


/* BOX-SIZING .............BOXES..............STARTING .................*/


/* .................BOX 1 ..........*/
.box_1{
    height: 200px;
    width: 400px;
    position: relative;
    border: 3px solid green; 
    background-color: #111112;
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box_1:hover{
    opacity: 0.6;
    cursor: pointer;
}
.box_1 h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.box_1 a{
    color: #fff;
}


/*................BOX 2 .................*/

.box_2{
    height: 200px;
    width: 400px;
    position: relative;
    border: 3px solid green; 
    background-color: #111112;
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box_2:hover{
    opacity: 0.6;
    cursor: not-allowed;
}
.box_2 h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.box_2 a{
    color: #fff;
    pointer-events: none;
}
.box_3{
    height: 200px;
    width: 400px;
    position: relative;
    border: 3px solid green; 
    background-color: #111112;
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box_3:hover{
    opacity: 0.6;
    cursor: not-allowed;
}
.box_3 h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.box_3 a{
    color: #fff;
    pointer-events: none;
}
.box_4{
    height: 200px;
    width: 400px;
    position: relative;
    border: 3px solid green; 
    background-color: #111112;
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box_4:hover{
    opacity: 0.6;
    cursor: not-allowed;
}
.box_4 h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.box_4 a{
    color: #fff;
    pointer-events: none;
}
.box_5{
    height: 200px;
    width: 400px;
    position: relative;
    border: 3px solid green; 
    background-color: #111112;
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box_5:hover{
    opacity: 0.6;
    cursor: not-allowed;
}
.box_5 h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.box_5 a{
    color: #fff;
    pointer-events: none;
}
.box_6{
    height: 200px;
    width: 400px;
    position: relative;
    border: 3px solid green; 
    background-color: #111112;
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box_6:hover{
    opacity: 0.6;
    cursor: not-allowed;
}
.box_6 h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.box_6 a{
    color: #fff;
    pointer-events: none;
}
/* FOOTER */
.foot_bar{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #44473f;
    color: white;
    text-align: center;
}
.foot_bar p{
    text-align: center;
    padding: 20px;
}
.social_med img:hover{
    opacity: 0.5;
}
.social_med img{

    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;
}

